ul.custom-list {
list-style: none;
background: #eee;
padding: 10px;
border-radius: 10px;
}

ul.custom-list li {
padding: 10px;
border: 1px solid #ccc;
margin: 5px;
transition: 0.3s;
}

ul.custom-list li:hover {
background: #007bff;
color: white;
}