*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
header {
    background-color: black;
    padding: 10px 0;
}
header .container .content-wrapper{
    display: flex;
    flex-wrap: wrap;
}
header .container .content-wrapper .left-side{
width:20%;


}
header .container .content-wrapper .left-side h1{
    color:white;
    font-size: 50px;
    font-weight: 700px;


}
header .container .content-wrapper .right-side{
    width:80%;
    text-align: right;
    align-content: center;

}
header .container .content-wrapper .right-side ul{
    list-style-type: none;

}
header .container .content-wrapper .right-side ul li{
    display: inline-block;
    margin-left: 30px;
}
header .container .content-wrapper .right-side ul li a{
    text-decoration: none;
    color:white;
    background-color: black;
    font-size: 20px;
    border: 1px solid yellow;
    padding:10px 25px;
    border-radius: 50px;
}
header .container .content-wrapper .right-side ul li a:hover{
    background-color: yellow;
    color:black;
}
.band-section {
    padding: 70px 0;
}
.band-section .container .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.band-section .container .content-wrapper .right-side h3{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.band-section .container .content-wrapper .right-side p{
    font-size: 23px;
}
.band-section .container .content-wrapper .right-side a{
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 35px;
}
.band-section .container .content-wrapper .right-side a:hover{
    background: transparent;
    color:black;
}
.profile-section{
    padding: 50px 0;
}
.profile-section .container h2{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 30px;
}
.profile-section .container{
    text-align: center;
}
.profile-section .container .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    margin-top: 30px;

}
.profile-section .container .content-wrapper img{
    width:100%;
}
.profile-section .container .content-wrapper .info{
    text-align: left;
    border:1px solid black;
    padding:10px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px grey;
    line-height: 20px;
}
.profile-section .container .content-wrapper .info button{
    padding:10px 25px;
    border-radius: 10px;
    margin-top: 10px;
}
.profile-section .container .content-wrapper .info button:hover{
    background-color: yellow;
    color:black;
}
.testimonial-section{
padding-bottom: 70px;
}
.testimonial-section .container{
    text-align: center;
}
.testimonial-section .container h2{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 30px ;
    margin-top: 50px;
}
.testimonial-section .container .content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px
}
.testimonial-section .container .content-wrapper .feedback{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px grey;


}
.avater{
    width:100%;
height:100%;
border-radius: 100%;
overflow: hidden;
border: 1px solid black;
margin: 0 autio;
}
.avater img{
    width:100%;
    height: 100%;

}
.testimonial-section .container .content-wrapper .feedback i{
    color: gold;
    margin-top: 10px;
}
.testimonial-section .container .content-wrapper .feedback .info{
    margin-left: 10px;

}
.gallery-section{
    padding-bottom: 70px;
}
.gallery-section .container{
    text-align: center;
}
.gallery-section .container h2{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 30px;

}
.gallery-section .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.gallery-section .gallery .img{
    width:100%;
}
footer p{
    background-color: black;
    color: white;
    text-align: center;
     padding: 10px 0;
}
.contact-form{
    padding: 70px 0;
}
.form-wrapper{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form-wrapper input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}
button[type=submit]{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: 2px solid green;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
button[type=submit]:hover{
    background-color: transparent;
    color: green;
}
button[type=reset]{
    background-color: red;
    color: white;
    padding: 10px 30px;
    border: 2px solid red;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
button[type=reset]:hover{
    background-color: transparent;
    color: red;
}